// Enable ESP32 Wifi
&wifi {
	status = "okay";
};

// Enable UART connector for RS485
&uart2 {
	status = "okay";
};

// Enable W5500 Ethernet module
// &spi3 {
// 	status = "okay";
// 	w5500: w5500@0 {
// 		compatible = "wiznet,w5500";
// 		reg = <0>;
// 		spi-max-frequency = <18000000>;
//     int-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
//     reset-gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
// 	};
// };