// / {
// 	aliases {
// 		w5500-ethernet = &w5500;
// 	};
// };

// Enable ESP32 Wifi
&wifi {
	status = "okay";
};

// Enable UART connector for RS485
&uart2 {
	status = "okay";
};

// Enable W5500 Ethernet module
// &spi3 {
// 	status = "okay";
// 	clock-frequency = <1000000>;
// 	w5500: w5500@0 {
// 		compatible = "wiznet,w5500";
// 		reg = <0>;
// 		spi-max-frequency = <1000000>;
//    int-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
// 	};
// };